<div style="margin:auto; width: 70%; margin-top: 30px;">
  <app-search-bar (OnSelectedOption)="onSelectedOption($event)"></app-search-bar>
</div>

<html>
  <head>
       
</head>
<body>
    <button type="button" class="btn btn-default" (click)=logout()>Logout</button>
    
        
  <a routerLink="/cart">
    <button type="button" class="btn btn-default ">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Shopping Cart
    </button>
  </a>


<h1>Products</h1>

<ul>
  <li *ngFor="let product of products" >
  <a routerLink="/product-details/{{product.id}}">{{product.productName}}</a> 

    <ul>
      
      <li>{{product.companyName}}</li>
      <li>In Stock: {{product.quantity}}</li>
     
    </ul>
  </li>
</ul>

</body>
</html>
