<form (ngSubmit)= "checkLogin(loginForm)" #loginForm="ngForm">
  

  <div class="form-group">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username"  ngModel name = "username" id="username" class="form-control" required>
  
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" ngModel name= "password"  id="password" class="form-control" required>
    <a>
    <button type="button" class="btn btn-success" (click)=checkLogin(loginForm.form)>Login</button>
    </a>
  </div>

  <div class="form-group" style="background-color:#f1f1f1">
    <a [routerLink]="['/register']">
    <button type="button" >Register</button>
    </a>
  </div>
</form>

