.text-aligned {
    text-align: center;
}

.aligned-right{
    text-align: right;
}


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00a8ff;
  color: white;
}

button {
    background-color: #00a8ff;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 20%;
    display: inline-block
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }