<body>
<button type="button" class="btn btn-default" (click)=logout()>Logout</button>
<h1>Cart Info</h1>

<table id="customers" >
    <tr>
        
        <th>Remove</th>
        <th>Name</th>
        <th>Company</th>
        <th>Price £</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    <tr *ngFor="let item of items">
        <td class="text-aligned">
            <a (click)="remove(item.product.id)">X</a>
        </td>
        
        <td>{{item.product.productName}}</td>
        <td>{{item.product.companyName}}</td>  
        <td>{{item.product.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.product.price * item.quantity}}</td>
    
    </tr>
    <tr>
        <td colspan="6" class="aligned-right">Total</td>
        <td>{{total}}</td>
    </tr>
</table>


<button type="button" class="btn btn-default" (click)=createOrder(items) >Order</button>
  
<a [routerLink]="['/product-list']">
    <button type="button" class="btn btn-default">Back</button>
</a>
</body>
  
  